.header {
    max-width: 880px;
    margin: 45px auto 40px;
    padding: 0 0 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width:890px) {
    .header {
        max-width: 720px;
        margin: 28px auto 42px;
        padding: 0 0 31.6px 27px;
    }

}

@media screen and (max-width:500px) {
    .header {
        max-width: 100%;
        margin: 28px 0 42px;
    }
}